.idea
.idea/*
node_modules/
presentation/ui/modules/account/data/grid.xml
presentation/logs/*
presentation/logs/**
*.komodoproject
debug.log
presentation/static
presentation/ui/modules/**/*.min.js
presentation/ui/modules/**/*.min.js.map
presentation/ui/*.min.js
presentation/ui/*.min.js.map
presentation/ui/components/**/*.min.js
presentation/ui/components/**/*.min.js.map