.demo {
	color: rgb(94, 57, 41);
	color: rgb(205, 140, 82);
	color: rgb(183, 209, 163);
	color: rgb(222, 232, 190);
	color: rgb(252, 247, 211);
}

.demo {
	color: rgb(53, 148, 209);
	color: rgb(117, 169, 203);
	color: rgb(61, 61, 61);
	color: rgb(240, 240, 240);
	color: rgb(222, 222, 222);
}



*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Base Layout */

html {
	min-height: 100%;
	overflow: auto;
}

body {
	background-color: rgb(222, 222, 222);
}

.row {
	display: block;
	float: left;
	width: 100%;
}

.panel {
	margin: 5px;
}

.panelHeader {
	width: 100%;
	margin: 0;
	padding: 2px;
	font-weight: bold;
	background-color: rgb(61, 61, 61);
}

#controlsContainer {
	height: 120px;
	width: 100%;
	margin-bottom: 10px;
	display: block;
}

#controls {
	position: fixed;
	top: 0;
	width: inherit;
	height: 50px;
	background-color: rgb(61, 61, 61);
	border-bottom: 3px solid rgb(53, 148, 209);
	-webkit-box-shadow: 0 2px 2px 0 rgba(100, 100, 100, 0.5);
	-moz-box-shadow: 0 2px 2px 0 rgba(100, 100, 100, 0.5);
	box-shadow: 0 2px 2px 0 rgba(100, 100, 100, 0.5);
	z-index: 100;
}

#ribbonMenuTabs {
	position: absolute;
	top: 0;
	display: inline-block;
	height: inherit;
}

.ribbonMenuTab {
	min-width: 70px;
	height: 100%;
	line-height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

.ribbonMenuTabUnselected {
	color: rgb(61, 61, 61);
}

.ribbonMenuTabUnselected:hover {
	background: rgb(117, 169, 203);
	color: rgb(222, 222, 222);
}

.ribbonMenuTabSelected {
	background: rgb(117, 169, 203);
	color: rgb(222, 222, 222);
}

#ribbonMenuStack {
	height: 70px;
}

.ribbonMenu {
	display: none;
	background-color: rgb(117, 169, 203);
	height: inherit;
	padding-top: 5px;
	padding-bottom: 5px;
}

.ribbonMenuGroup {
	height: 60px;
	padding-right: 10px;
	padding-left: 10px;
	border-right: 1px solid rgb(61, 61, 61);
	float: left;
}

.ribbonMenuGroup:first-child {
	margin-left: 15px;
	border-left: 1px solid rgb(61, 61, 61);
}

.ribbonMenuGroupLabel {
	display: block;
	color: rgb(61, 61, 61);
	margin-bottom: 5px;
}

.ribbonMenuForm {
	display: inline;
}

.ribbonMenuLink {
	display: block;
	cursor: pointer;
	font-size: 13px;
	color: rgb(222, 222, 222);
	text-decoration: none;
}

.ribbonMenuLink:hover {
	text-decoration: underline;
}

.ribbonMenuLink:visited {
	color: rgb(222, 222, 222);
}

#mainNavMenuTarget {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	height: inherit;
}

#mainNavMenuTargetText {
	display: block;
	height: inherit;
	line-height: 50px;
	font-size: 17px;
}

#mainNavMenu {
	display: none;
	position: absolute;
	top: 50px;
	z-index: 10;
	background-color: rgb(53, 148, 209);
	padding: 10px;
	border-bottom: 2px solid rgb(117, 169, 203);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(100, 100, 100, 0.5);
	-moz-box-shadow: 2px 2px 2px 0 rgba(100, 100, 100, 0.5);
	box-shadow: 2px 2px 2px 0 rgba(100, 100, 100, 0.5);
}

#leftSideBarFixed {
	width: 20%;
	display: inline-block;
	vertical-align: top;
}
#leftSideBar{
	position: absolute;
	width: inherit;
}

#summary {
	height: 150px;
}

#summaryContent {
	padding: 10px;
}

#main {
	width: 79%;
	display: inline-block;
}

.tableGroupTotal{
	padding-right: 10px;
	font-weight: bold;
}

/* Alerts */

#alerts {
	max-height: 800px;
}

#alertsContent {
	overflow-y: auto;
	max-height: 100%;
}

.alert {
	padding: 5px;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid rgb(117, 169, 203);
}

.alert_summary {
	font-weight: bold;
}

.alert_summary, .alert_message {
	text-overflow: ellipsis;
}

.alert_message {
	display: block;
}

.info {
	color: rgb(102, 140, 255);
}

.warning {
	color: rgb(255, 153, 0);
}

.error {
	color: rgb(128, 0, 0);
}

/* Server Errors */
#serverError {
	position: fixed;
	z-index: 101;
	top: 0;
	width: 100%;
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: rgb(61, 61, 61);
}

#serverErrorInterior {
	margin-left: auto;
	margin-right: auto;
}

.serverErrorInfo {
	padding-top: 15px;
}

.serverErrorInfo > span {
	display: block;
	color: rgb(240, 240, 240);
}

#serverErrorClose {
	z-index: 102;
	position: fixed;
	right: 30px;
	color: rgb(53, 148, 209);
	font-size: 20px;
}

