.demo {
	color: rgb(94, 57, 41);
	color: rgb(205, 140, 82);
	color: rgb(183, 209, 163);
	color: rgb(222, 232, 190);
	color: rgb(252, 247, 211);
}

.demo {
	color: rgb(53, 148, 209);
	color: rgb(117, 169, 203);
	color: rgb(61, 61, 61);
	color: rgb(240, 240, 240);
	color: rgb(222, 222, 222);
}



*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Base Layout */

html {
	min-height: 100%;
	overflow: auto;
}

body {
	background-color: rgb(222, 222, 222);
}

.row {
	display: block;
	float: left;
	width: 100%;
}

.panel {
	margin: 5px;
}

.panelHeader {
	width: 100%;
	margin: 0;
	padding: 2px;
	font-weight: bold;
	background-color: rgb(61, 61, 61);
	border-bottom: 3px solid rgb(53, 148, 209);
	border-radius: 3px;
}

.panelToolBar {
	width: 100%;
	height: 30px;
	background-color: rgb(117, 169, 203);
	padding: 2px;
	vertical-align: middle;
}

.panelToolBarGroup {
	height: 25px;
	padding-right: 10px;
	padding-left: 10px;
	border-right: 1px solid rgb(61, 61, 61);
	float: left;
}

.panelToolBarGroup:first-child {
	margin-left: 15px;
	border-left: 1px solid rgb(61, 61, 61);
}

.panelToolBar >> .ui-igcombo-wrapper {
	vertical-align: middle;
}

.ribbonMenuLink:visited {
	color: rgb(222, 222, 222);
}

#leftSideBarFixed {
	width: 20%;
	display: inline-block;
	vertical-align: top;
}
#leftSideBar{
	position: absolute;
	width: inherit;
}

#summary {
	height: 150px;
}

#summaryContent {
	padding: 10px;
}

#main {
	width: 79%;
	display: inline-block;
}

.tableGroupTotal{
	padding-right: 10px;
	font-weight: bold;
}

/* Alerts */
#alerts {
	max-height: 800px;
}

#alertsContent {
	overflow-y: auto;
	max-height: 100%;
}

/* Server Errors */
#serverError {
	position: fixed;
	z-index: 101;
	top: 0;
	width: 100%;
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: rgb(61, 61, 61);
}

#serverErrorInterior {
	margin-left: auto;
	margin-right: auto;
}

.serverErrorInfo {
	padding-top: 15px;
}

.serverErrorInfo > span {
	display: block;
	color: rgb(240, 240, 240);
}

#serverErrorClose {
	z-index: 102;
	position: fixed;
	right: 30px;
	color: rgb(53, 148, 209);
	font-size: 20px;
}

