*{
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
	display: inline-block;
}

h1 {
	font-size: 20px;
	font-weight: bold;
	color: rgb(205, 140, 82);
}

h2 {
	font-size: 17px;
	font-weight: bold;
	color: rgb(205, 140, 82);
}

h3 {
	font-size: 15px;
	font-weight: bold;
	color: rgb(94, 57, 41);
}

h4 {
	font-size: 14px;
	font-weight: bold;
	color: rgb(94, 57, 41);
}

p, span, label {
	font-size: 13px;
	color: rgb(94, 57, 41);
}

a {
	text-decoration: none;
}

a:hover, input[type='button']:hover, input[type='submit']:hover {
	text-decoration: underline;
}

a.navigationLink {
	font-size: 13px;
	font-weight: normal;
	color: rgb(94, 57, 41);
}