*{
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
	display: inline-block;
}

h1 {
	font-size: 20px;
	font-weight: bold;
	color: rgb(53, 148, 209);
}

h2 {
	font-size: 17px;
	font-weight: bold;
	color: rgb(53, 148, 209);
}

h3 {
	font-size: 15px;
	font-weight: lighter;
	color: rgb(240, 240, 240);
}

h4 {
	font-size: 14px;
	font-weight: bold;
	color: rgb(61, 61, 61);
}

p, span, label {
	font-size: 13px;
	color: rgb(61, 61, 61);
}

a {
	text-decoration: none;
}

a:hover, input[type='button']:hover, input[type='submit']:hover {
	text-decoration: underline;
}
