.ui-iggrid thead .ui-iggrid-adding-row-cell {
  padding: 4px;
  border-bottom: 1px solid #ddd;
}
.ui-iggrid thead .ui-iggrid-adding-row-cell:first-child {
  border-left: 1px solid #ddd;
}
.ui-iggrid thead .ui-iggrid-adding-row-cell:last-child {
  border-right: 1px solid #ddd;
}
.ui-iggrid-addingBarCell {
  height: 12px;
  background-color: #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.ui-iggrid-adding-add-row-button-container {
  height: 22px;
  width: 22px;
  font-size: 22px;
  position: absolute;
}
.ui-iggrid-adding-add-row-button {
  font-size: 22px;
}
