<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<link href="/css/infragistics/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" type="text/css"/>
		<link href="/css/infragistics/css/structure/infragistics.css" rel="stylesheet" type="text/css"/>
		<link href="/css/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet" type="text/css"/>
		<link href="/css/jquery-ui/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<p>Choose an account:</p>
		<input id="accountSelector" type="text"/>
		<table id="testTable">

		</table>
		<script type="text/javascript" src="/scripts/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="/scripts/jquery-ui-1.10.4.custom.js"></script>
		<script type="text/javascript" src="/scripts/modernizr-custom.js"></script>
		<script type="text/javascript" src="/scripts/infragistics.js"></script>
		<script type="text/javascript" src="/scripts/poptart.js"></script>
		<script type="text/javascript" src="/modules/account/scripts/monitor.js"></script>
		<script type="text/javascript">
			(function(){
				Poptart.Account.Monitor.treegridData = {{data | safe}};
				Poptart.Account.Monitor.accountList = "{{accountNamesList}}".split(",");
				Poptart.Account.Monitor.init();
			})();
		</script>
	</body>
</html>
