<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/scripts/TreeGrid/GridE.js"></script>
</head>
<body>
<p>yo</p>
	<div id="gridMain">
		<treegrid Data_Url="/modules/account/data/grid.xml"></treegrid>
	</div>

	<script type="text/javascript" src="/scripts/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="/scripts/poptart.js"></script>
	<script type="text/javascript" src="/modules/account/scripts/monitor.js"></script>
	<script type="text/javascript">
		(function() {
			//Poptart.Account.Monitor.treegridData = {{data | safe}};
			//Poptart.Account.Monitor.init();
		}());
	</script>
</body>
</html>
