@import "variables-igniteui";

.ui-iggrid thead .ui-iggrid-adding-row-cell {
  padding: 4px;
  border-bottom: 1px solid @table-border-color;
}

.ui-iggrid thead .ui-iggrid-adding-row-cell:first-child {
  border-left: 1px solid @table-border-color;
}

.ui-iggrid thead .ui-iggrid-adding-row-cell:last-child {
  border-right: 1px solid @table-border-color;
}
