@import "variables-igniteui";

.ui-iggrid thead .ui-iggrid-adding-row-cell {
  padding: 4px;
  border-bottom: 1px solid @table-border-color;
}

.ui-iggrid thead .ui-iggrid-adding-row-cell:first-child {
  border-left: 1px solid @table-border-color;
}

.ui-iggrid thead .ui-iggrid-adding-row-cell:last-child {
  border-right: 1px solid @table-border-color;
}

.ui-iggrid-addingBarCell {
  height: 12px;
  background-color: @table-border-color;
  border-bottom: 1px solid @table-border-color;
  border-left: 1px solid @table-border-color;
  border-right: 1px solid @table-border-color;
}

.ui-iggrid-adding-add-row-button-container {
  height: 22px;
  width: 22px;
  position: absolute;
}

.ui-iggrid-adding-add-row-button {
  font-size: 22px;
}