@import "variables";
@import "variables-igniteui";

.ui-iggrid thead .ui-iggrid-adding-row-cell {
  padding: 4px;
  border-bottom: 1px solid @table-border-color;
}

.ui-iggrid-adding-row-cell.ui-iggrid-adding-row-cell-default {
  color: @gray-light;
  font-style: italic;
}

.ui-iggrid thead .ui-iggrid-adding-row-cell:first-child {
  border-left: 1px solid @table-border-color;
}

.ui-iggrid thead .ui-iggrid-adding-row-cell:last-child {
  border-right: 1px solid @table-border-color;
}

.ui-iggrid-addingBarCell {
  height: 4px;
  background-color: @brand-success;
  border-bottom: 1px solid @state-success-border;
  border-left: 1px solid @state-success-border;
  border-right: 1px solid @state-success-border;
}

.ui-iggrid-adding-bar-cell-failures {
  height: auto;
  padding: 10px;
  background-color: @state-danger-bg !important;
  color: @state-danger-text !important;
  border-color: @state-danger-border !important;
}

.ui-iggrid-failure {
  color: inherit !important;
}

.ui-iggrid-adding-add-row-button-container {
  height: 22px;
  width: 70px;
  position: absolute;
}

.ui-iggrid-adding-add-row-button {
  font-size: 22px !important;
  width: inherit;
  z-index: 1;
  position: absolute;
}

.ui-iggrid-adding-add-row-button:focus, .ui-iggrid-adding-add-row-button:hover {
  color: @brand-success;
}

.ui-iggrid-cell-invalid {
  background-color: @state-danger-bg !important;
  color: @state-danger-text !important;
  border-color: @state-danger-border !important;
}